/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
@import "variables/variable";
@import "font/font";
@import "components/bouton";




/* logo*/
header{
    margin: 20px 20px;
    text-align: center;
}

.section_logo_presentation{

    padding: 15% 0 ;
    background-image: url(../../img/la-chouette-agence-banniere.webp);
    background-color: black;
    background-position: center;
    background-size: cover;
    div{
        display: flex;
        flex-flow: column nowrap;
    }
    img{
        width: 30%;
        align-self: center;
    }
    h1{
        color: $tangerine;
        margin-bottom: 5px;

    }
}
/*
.b-parallax{
    background-image: url(../../img/la-chouette-agence-banniere.webp);
    min-height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}*/

/*présentation*/
.presentation{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 100px 0;
    h2{
        text-align: center;
    }
}
.presentation_items{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: center;
    padding: 0 20px;
    span{
        font-size: 3.5em;
        margin-top: 20px;
    }
    p{
        font-size: 1.3em;
    }
}
.item{
    margin-top: 40px;
    padding: 0 20px;
    border-bottom: 2px solid $tangerine;
    border-radius: 25px;
    div{
        .svg-inline--fa{
            color: $icones;
            margin-bottom: 10px;
        }
    }
}
.commentaire_client{
    margin: 40px 20px 0 20px;
    text-align: center;
    border: 2px dashed $icones;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    p{
        font-size: 1.2em;
        margin: 10px;
    }
    span{
        margin: 10px;
        font-size: 1.1em;
    }
}
.objectif{
    text-align: center;
    background-image: url(../../img/image-de-presentation.webp);
    .objectif_content{
        padding: 10px 20px;
        .objectif_title{
            margin-bottom: 10px;
            font-size: 1.5em;
            font-weight: bold;
            background-color: $bgcol;
        }
        .objectif_resume{
            font-size: 1.5em;
            background-color: $bgcol;
        }
    }
}

/*
.b-parallax1{
    background-image: url(../../img/image-de-presentation.webp);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
*/

/*portfolio*/
.portfolio{
    text-align: center;
    margin-top: 100px;
    padding: 0 20px;
}

.cards{
    margin: 20px 0;
    .card_img{
        img{
            border-top-right-radius: 18px;
            border-top-left-radius: 18px;
        }
    }
    .card_desc{
        border-bottom: 2px solid $tangerine;
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        font-size: 1em;
    }
}


/*form*/
.form{
    background-image: url(/img/la-chouette-agence-banniere.webp);
    background-position: center;
    background-size: cover;
    text-align: center;
    form{
        padding: 10px 20px;
        background-color: $bgcol;
        /*
                display: flex;
        flex-flow: column nowrap;
        align-items: center;
         */
        legend{
            font-weight: bold;
        }
        label{
            font-weight: bold;
            margin-top: 10px;
        }
    }
}
.form-group{
    display: flex;
    flex-flow: column nowrap;
    input, textarea{
        border-radius: 5px;
    }
    div{
        display: flex;
        flex-flow: column wrap;
    }
}
 /*footer*/
footer{
    padding: 10px 20px;
    text-align: center;
    background-color: $tangerine;
    h2{
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 10px;
        color: white;
    }
    .socials{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        div{
            font-size: 2em;
            a{
                text-decoration: none;
                color: $icones;
            }
        }
    }
    .partenaires{
        h3{
            color: white;
        }
        ul{
            li{
                margin-top: 10px;
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 1.4em;
                    border-bottom: 1px solid $icones;
                    font-weight: bold;
                }
                a:hover{
                    color: $icones;
                }
            }
        }
    }
}