.bouton_contact{
    background-color: $tangerine;
    width: 50%;
    align-self: center;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 1.4em;
    margin: 10px 0;
    padding: 10px 0;
}   
button{
    text-align: center;
    font-size: clamp(1.4em, 3vw, 2em);
    background-color: $tangerine;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    &:hover{
        cursor: pointer;
    }
}
