.bouton_contact{
    width: 130px;
    align-self: center;
    font-weight: bold;
    font-size: 1.4em;
    padding: 10px 0;
}   
.btn-atomic-tangerine{
    background-color: $tangerine;
    margin-top: 20px;
    color: white !important;
}
.bouton_contact:hover, button:hover{
    background-color: $dark_tangerine;
}