.btn-atomic-tangerine{
    background-color: $tangerine;
    margin-top: 20px;
    color: white !important;
}
.btn:hover, button:hover{
    background-color: $dark_tangerine;
}
.btn-rd {
    border-radius: 40px;
}
.btn{
    width: 150px;
    align-self: center;
    font-weight: 700;
}