h1{
    font-size: clamp(2em, 3vw, 5em);
    font-weight: bold;
    text-align: center;
}
h2{
    font-size: clamp(1.6em, 2vw, 4.8em);
    font-weight: bold;
}
h3{
    font-size: clamp(1.4em, 1.6vw, 4.6em);
    font-weight: bold;
}
p{
    font-size: clamp(1.2em, 1.4vw, 2em);
}
span{
    font-size: clamp(1.1em, 2vw, 1.5em);
}
a{
    font-size: clamp(1.4em, 1vw, 2em);
}
label{
    font-size: clamp(1.2em, 1vw, 2em);
}